.button{
    width: 75%;
    margin: 2.5rem auto;
    text-align: center;
}

.btn{
    padding: 1rem 2rem;
    margin: 5px;
    border-radius: 30px;
    background-color: rgb(68, 68, 107);
    color: white;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}