
/* main page */

.app{
   text-align: center;
  /* justify-content: center;
  align-items: center; */
}
.naijakids-title {
  padding: 10px 0; 
  background: #2e7c31;
 /* text-align: center; */
}

h1{
  font-size: 24px;
  color: #0ccac4;
}
