html, body, .root {
  height: 100%;
}

body {
  line-height: 1.5;
}

body, .app {
  background: white;
}

/* main page */

.naijakids-title {
  padding: 10px 0;
  background: #2e7c31;
  text-align: center;
}

